<div class="container-fluid">
  <div class="row">
    <section class="col-md-6 landing-grid-1">
      <div class="landing-grid-content">
        <h3>ATHLETIC</h3>
        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
      </div>
      <div class="landing-grid-mask"></div>
    </section>
    <section class="col-md-6 landing-grid-2">
      <div class="landing-grid-content">
        <h3>CLEAN CUT</h3>
        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
      </div>
      <div class="landing-grid-mask"></div>
    </section>
  </div>
  <div class="row">
    <div class="landing-grid-logo-container">
      <h1 class="landing-grid-logo">THREAD<span>BOX</span></h1>
    </div>

    <section class="col-md-6 landing-grid-3">
      <div class="landing-grid-content">
        <h3>HIPSTER</h3>
        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
      </div>
      <div class="landing-grid-mask"></div>
    </section>
    <section class="col-md-6 landing-grid-4">
      <div class="landing-grid-content">
        <h3>STREET</h3>
        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
      </div>
      <div class="landing-grid-mask"></div>
    </section>
  </div>
</div>
