@import "bootstrap";
@import "variables";
@import "base";

@import "partials/*";

.navbar-brand {
  font-family: 'East Sea Dokdo', cursive;
  font-weight: $font-heavy;
  font-size: 24px;
}

.main-nav {
  box-shadow: 0 0 5px rgba(0,0,0,0.4);
}
